.yellow-bg{
    background-color: yellow;
    text-decoration: underline;
}
.gray-bg{
    background-color: gray;
    text-decoration: underline;
}
.red-text{
    color: red;
    font-weight: bold;
    font-style: italic;
}